Frameworks/
.DS_Store
**/.DS_Store
build/
**/*.pbxuser
*.mode2v3
*.mode1v3
**/*.perspectivev*


# Exclude user-specific XCode 3 and 4 files
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata
./StudyCouchDB.xcodeproj/project.xcworkspace/xcuserdata
./StudyCouchDB.xcodeproj/xcuserdata
# Exclude temp nibs and swap files
*~.nib
*.swp
